<h1>Students</h2>
    <div class="ui grid">
    <div class="row">
    <div class="ten wide column">
      <div class="ui top attached tabular menu">
        <a class="item active">
          Active List
        </a>
        <a class="item">
          Holds
        </a>
      </div>
      <student-cmp user-id="<%= current_user.id %>"></student-cmp>
      </div>

      <div class="four wide column ui segment dark">
        <h1>Amount</h1>
        <p>Total Students: <%= @totalStudents %></p>
        <p>Total Contracts: <%= @contractTotal %></p>
      </div>
      </div>
      </div>
  
  <%# render :partial => 'static/search' %>
