<div class="row">
  <h1><%= @user.username %></h1>
  <h5><%= @user.email %></h5>
  <%= link_to 'Edit', edit_users_admin_path(@user), :class => 'button' %>
  <%= link_to 'Delete', users_admin_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert' %>
</div>
