.slide-enter-active {
    animation: slideInRight .9s;
}

.slide-leave-active {
    animation: slideInRight .2s reverse;
}


@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    animation-name: slideInRight;
  }