.add_wrapper {
  margin: auto;
  width: 90%;
}

.add_wrapper input {
  border-radius: 8px !important;
}

.name, .contact_info, .student_info {
  width: 100%;
}

.name p, .contact_info p {
  display: inline-block;
  width: 35%;
}

.student_info p, .student_info select {
  display:  inline-block;
  width: 868px;
}
