/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "semantic-ui";
 @import "animations";

 .ui.menu {
     border-radius: 0 !important;
 }

 .ui.menu .dropdown.item .menu {
     background: #767676;
 }

 body {
     background: #eaeaea;
 }

 .content {
     background: #fff;
    //  border: .6px solid #000;
    //  border-radius: 5px;
 }

 .dark {
     background: #000 !important;
     height: 150px;
     opacity: .8;
     margin-left: 2em !important;
 }

 .dark p, .dark h1 {
     color: #fff;
 }

 .ui.modal {
     display: block;
 }

 /* Student Component */
 .ui.modal {
     top: 5%;
 }
 .ui.modal .content {
     border: 0;
 }
 .ui .modal .header {
    overflow: hidden !important;
}

.ui .modal .header h1 {
    float: left !important;
}

.ui .modal .header i {
    float: right !important;
}

.add-modal {
    height: 566px;
}

.add-modal .current {
    display: block;
    margin: auto;
    margin-top: 1em; 
    width: max-content;
}

.add-modal .content-form {
    height: 335px;
}

.footer  {
    text-align: center;
}

.ui.modal button {
    margin: 10px 0;
}

.student-list .header:hover {
    cursor: pointer;
}

.add {
    display: block;
    margin: 5px 0;
    text-align: right;
}


/*contract component */
.contract .ui.accordion {
    border-radius: 0 !important;
    margin: 2rem 0;
    padding: 0;
}
.contract .ui.accordion .title:hover,
.contract i:hover {
    cursor: pointer;
}

.ui.accordion .title ~ .content {
    display: block !important;
    margin-top: 14px;
    padding: 0;
}

.contract-tile .content {
    box-shadow: 1px 0px 0px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15);
}

.contract-name {
    margin-left: 2.5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

.add-contract .header {
    overflow: hidden
}

.add-contract .header i:hover {
    cursor: pointer;
}