body {
	background-color: #E8E8E8;
}

header {
	background-image: url(/assets/public/black-uniform-blur.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
	position: relative;
	width: 100%;
}

.public-nav {
	margin: auto;
	width: 80%;
}

.public-nav {
  background:rgba(0,0,0,0);
}

.public-nav .top-bar-section li:not(.has-form) a:not(.button),
.public-nav .top-bar-section li:hover:not(.has-form):not(.active) > a:not(.button),
.public-nav .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button),
.public-nav .top-bar-section ul li {
  background:rgba(0,0,0,0);
}

.public-nav li a:hover {
	background:rgba(0,0,0,0);
}

.public-title {
	left: 50%;
	position: absolute;
	margin-right: -50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.public-title h1 {
	color: #FFFFFF;
	font-size: 75px;
	margin: 0;
}

@media screen and (max-width: 640px) {
	.logout {
		width: 100%;
	}
}
