nav h3 {
  color: #FFFFFF;
  float: left;
}

.client-nav {
  background-color: #227BD4;
}

.client-nav-selection li:not(.has-form) a:not(.button),
.client-nav-selection .dropdown li:not(.has-form):not(.active) > a:not(.button),
.client-nav-selection ul li {
  background-color: #227BD4;
}

.logout {
  background-color: #227BD4;
}

.logout:hover {
  background-color: #227BD4;
}
.inner-wrap {
  min-height: 800px;
}

.client-container {
  /*background-color: #FFFFFF;*/
  height: 800px;
}

.quick_add {
  margin: auto;
  width: 90%;
}

.left-off-canvas-menu {
  background-color: #B5B5B5;
}

.left-off-canvas-menu input {
  border-radius: 8px;
}

.left-off-canvas-menu label {
  color: #FFFFFF;
}

.left-off-canvas-menu .hide {
  display: none;
}

.quick_add_button {
  float: left;
  margin-right: 10px
}

.exit_button {
  border-radius: 8px;
}

.total_tution {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  top: 35px;
  padding: 5px;
  position: absolute;
  right: 45px;
  width: 300px;
}

.price_wrapper {
  background-color: #5BB12F;
  border-radius: 10px;
}

.controls .row {
  margin: 0;
}

.controls .main {
  margin: auto;
  width: 80%;
}

.controls label {
  display: block;
  float: left;
}

@media screen and (max-width: 1035px) {
  .total_tution,
  .age_row {
    display: none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

@media screen and (max-width: 450px) {
  .total_tution,
  .age_row,
  .address_row,
  .phone_row {
    display: none;
  }

  .columns {
    padding: 0;
  }
}

