.student {
	background-color: #FFF;
	border-radius: 10px;
	margin-top: 25px;
	padding: 10px;
}

.student_main {
	float: left;
	width: 500px;
}

.student_name {
	overflow: hidden;
	width: 100%;
}

.student_name h1, .student_name a {
	float: left;
	margin: 0;
}

.student_name a {
	margin: 20px 0 0 15px;
}

.student_studio {
	float: left;
	width: 400px;
}

.student_row {
	float: left;
	width: 200px;
}

.student_info {
	width: 100%;
	float: left;
}